Repository AmericanAirlines/Hangar, pull requests merged in 2019-12, with the labels that each got.

#37 Implementing previousTeam attribute of entity
  .github/workflows/Build.yml
  .github/workflows/PR-Build.yml
  .gitignore
  jest.config.js
  package.json
  src/entities/judge.ts
  src/entities/judgingVote.ts
  src/entities/team.ts
  src/migration/1574797652947-AddPreviousTeamColumn.ts
  src/tests/judging.test.ts
  src/tests/team.test.ts
Labels: database, enhancement, migration may be needed

#56 Fixing dependency vulnerabilities
  package-lock.json
Labels: enhancement

#59 Fixing ordering for Action patterns
  .github/workflows/Test.yml
Labels: enhancement

#53 Update/judging
  package.json
  src/entities/judgingVote.ts
  src/tests/judging.test.ts
Labels: enhancement, migration may be needed

#64 Clearing up required status checks
  .github/workflows/PR-Build.yml
  .github/workflows/Test.yml
Labels: enhancement

#66 Add React linter and fix errors
  .eslintrc.js
  package-lock.json
  package.json
  src/pages/_document.tsx
  src/pages/judge/[secret].tsx
Labels: enhancement
