Repository AmericanAirlines/Hangar, pull requests merged in 2019-11, with the labels that each got.

#12 Cleaning up the README
  README.md
Labels: documentation

#14 Judging
  .env.sample
  .eslintrc.js
  .github/workflows/Build.yml
  .github/workflows/PR-Build.yml
  .gitignore
  README.md
  jest.config.js
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  src/api/index.ts
  src/app.ts
  src/entities/judge.ts
  src/entities/judgingVote.ts
  src/entities/team.ts
  src/logger.ts
  src/migration/1572220655844-CreateConfig.ts
  src/migration/1572226107338-CreateTeamAndSubscriber.ts
  src/migration/1572544846014-CreateTeamAndSubscriber.ts
  src/migration/1572552693558-CreateTeamAndSubscriber.ts
  src/migration/1572726338107-CreateTables.ts
  src/pages/judge/[secret].tsx
  src/slack/blocks/dashboardBlocks.ts
  src/slack/events/message.ts
  src/tests/judging.test.ts
  src/tests/team.test.ts
  src/tests/testdb.ts
  src/tsconfig.json
  tsconfig.json
Labels: enhancement

#17 Fixing an issue where next wasn't being built in production
  package.json
  src/slack/actions/registerTeam.ts
Labels: bug

#18 Fixing nom-run-all usage
  package.json
Labels: bug

#21 Remove flatmap
  .github/CODEOWNERS
  package-lock.json
  src/tests/judging.test.ts
Labels: enhancement

#33 Adding Codecov
  .github/workflows/Build.yml
  .github/workflows/PR-Build.yml
  README.md
  jest.config.js
  package.json
Labels: enhancement

#29 Adding a new action to label PRs with appropriate labels
  .github/labeler.yml
  .github/workflows/PRLabel.yml
Labels: enhancement

#35 GitHub Actions Caching
  .github/workflows/Build.yml
  .github/workflows/PR-Build.yml
Labels: enhancement

#36 Lgtm integration
  README.md
  src/pages/judge/[secret].tsx
Labels: enhancement

#38 Add code quality badge to README
  README.md
Labels: documentation
