Repository AmericanAirlines/Hangar, pull requests merged in 2020-09, with the labels that each got.

#136 Add mpim:write scope to Slack setup
  src/slack/README.md
Labels: documentation

#138 Update Authors.md link
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#145 Updating Postgres docs
  README.md
Labels: documentation

#142 Npm audit
  package-lock.json
  package.json
Labels: enhancement

#144 Update to Readme.md
  Authors.md
  README.md
Labels: documentation

#147 Update README.md
  src/slack/README.md
Labels: documentation

#156 Fixing the PR template file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#161 Refactoring the Slack app to use a better pattern for handlers
  package-lock.json
  package.json
  src/app.ts
  src/slack/actions/ignore.ts
  src/slack/actions/index.ts
  src/slack/actions/registerTeam.ts
  src/slack/actions/subscribe.ts
  src/slack/actions/supportRequest.ts
  src/slack/actions/unsubscribe.ts
  src/slack/blocks/dashboardBlocks.ts
  src/slack/constants.ts
  src/slack/events/index.ts
  src/slack/events/message.ts
  src/slack/events/messageRecieved.ts
  src/slack/index.ts
  src/slack/utilities/messageUsers.ts
  src/slack/views/index.ts
  src/slack/views/registerTeamSubmitted.ts
  src/tests/utilities/getRequiredEnvVar.test.ts
  src/utilities/getRequiredEnvVar.ts
Labels: api, enhancement, migration may be needed, slack

#154 Page crash fix
  src/pages/index.tsx
Labels: bug, react

#163 Refactoring Slack app to use the Home tab
  package-lock.json
  package.json
  src/slack/actions/subscribe.ts
  src/slack/actions/supportRequest.ts
  src/slack/actions/unsubscribe.ts
  src/slack/blocks/dashboardBlocks.ts
  src/slack/events/appHomeOpened.ts
  src/slack/events/index.ts
  src/slack/events/messageRecieved.ts
  src/slack/utilities/openAlertModal.ts
  src/slack/utilities/updateHomeTabView.ts
Labels: enhancement, slack

#164 Updating docs with Home Tab instructions
  src/slack/README.md
Labels: documentation

#157 Adds functionality to respond with helpful information if tagged in a public channel
  Authors.md
  src/slack/README.md
  src/slack/events/appMention.ts
  src/slack/events/index.ts
Labels: enhancement, slack

#171 Default config items should be present on initial app start
  src/migration/1600969675208-DefaultConfigItems.ts
Labels: database, enhancement

#181 Fixing the team registration error to use a modal
  src/slack/actions/registerTeam.ts
  src/slack/blocks/dashboardBlocks.ts
Labels: slack

#180 Removing dependency on next app iniitlization while not in prod
  src/app.ts
  src/slack/actions/index.ts
  src/slack/events/index.ts
  src/slack/index.ts
  src/slack/views/index.ts
  src/tests/api/supportRequest.test.ts
  src/tests/app.test.ts
  src/tests/next.test.ts
Labels: api, enhancement

#182 Fix connection check
  src/app.ts
Labels: bug
