Repository AmericanAirlines/Hangar, pull requests merged in 2020-01, with the labels that each got.

#41 Preventing the bot from responding to certain events, improving ack time for team registration
  Dockerfile
  src/slack/actions/registerTeam.ts
  src/slack/events/message.ts
Labels: slack

#42 Improving test coverage + Fixing an issue where users could register a team when team registration was closed
  jest.config.js
  src/app.test.ts
  src/entities/config.ts
  src/index.ts
  src/slack/actions/registerTeam.ts
  src/slack/events/message.ts
  src/tests/app.test.ts
  src/tests/config.test.ts
  src/tests/index.test.ts
  src/tests/team.test.ts
  src/tests/testdb.test.ts
Labels: migration may be needed, slack

#69 Implementing Subscriber Update Slack messaging
  .env.sample
  .eslintrc.js
  app.json
  jest.config.js
  package.json
  src/api/index.ts
  src/api/sendUpdateMessage.ts
  src/app.ts
  src/entities/subscriber.ts
  src/migration/1578690885925-AddSubscriberActiveColumn.ts
  src/migration/1578955566306-MakeSubscriberSlackIdUnique.ts
  src/slack/actions/index.ts
  src/slack/actions/registerTeam.ts
  src/slack/actions/subscribe.ts
  src/slack/actions/unsubscribe.ts
  src/slack/blocks/dashboardBlocks.ts
  src/slack/constants.ts
  src/slack/events/message.ts
  src/slack/index.ts
  src/slack/types.ts
  src/slack/utilities/getDashboardContext.ts
  src/slack/utilities/messageUsers.ts
  src/tests/index.test.ts
Labels: api, enhancement, hold, migration may be needed, slack

#72 Support Request Queue
  package-lock.json
  package.json
  src/api/adminMiddleware.ts
  src/api/index.ts
  src/api/sendUpdateMessage.ts
  src/api/supportRequest.ts
  src/entities/supportRequest.ts
  src/entities/team.ts
  src/migration/1579194337540-CreateTableSupportRequest.ts
  src/migration/1579227786987-AddSupportRequestSyncHash.ts
  src/slack/actions/index.ts
  src/slack/actions/supportRequest.ts
  src/slack/blocks/dashboardBlocks.ts
  src/slack/constants.ts
  src/tests/judging.test.ts
  src/tests/supportRequest.test.ts
  src/tests/utilities.ts
  src/utilities/genHash.ts
Labels: database, enhancement, migration may be needed

#77 Adding a screenshot to the README
  README.md
  assets/Dashboard.png
  assets/Logo-Small.png
  assets/Logo.png
Labels: documentation, enhancement

#78 Adding challenge info block to dashboard
  .env.sample
  app.json
  src/slack/blocks/dashboardBlocks.ts
  src/slack/blocks/openSourceFooter.ts
Labels: enhancement

#85 Fixing an issue preventing mobile users from registering their team
  src/slack/actions/registerTeam.ts
Labels: bug

#79 Hack arizona
  jest.config.js
  package-lock.json
  package.json
  src/api/index.ts
  src/api/judging.ts
  src/entities/judgingVote.ts
  src/pages/_document.tsx
  src/pages/judge/[secret].tsx
  src/tests/judging.test.ts
Labels: api, enhancement, migration may be needed

#88 Updating judging to return an actual score
  src/api/judging.ts
  src/app.ts
  src/entities/judgingVote.ts
  src/index.ts
  src/slack/actions/subscribe.ts
  src/slack/actions/supportRequest.ts
  src/slack/actions/unsubscribe.ts
  src/slack/blocks/dashboardBlocks.ts
  src/slack/index.ts
  src/slack/utilities/messageUsers.ts
  src/tests/api/judging.test.ts
  src/tests/app.test.ts
  src/tests/entities/config.test.ts
  src/tests/entities/judging.test.ts
  src/tests/entities/supportRequest.test.ts
  src/tests/entities/team.test.ts
  src/tests/testdb.test.ts
  src/tests/testdb.ts
  src/tests/utilities.ts
Labels: api, database, enhancement, migration may be needed

#91 Admin authentication
  package-lock.json
  package.json
  src/api/admin.ts
  src/api/adminMiddleware.ts
  src/api/index.ts
  src/api/middleware/requireAuth.ts
  src/app.ts
  src/entities/supportRequest.ts
  src/pages/_document.tsx
  src/pages/index.tsx
  src/pages/login.tsx
  tsconfig.json
Labels: api, enhancement, migration may be needed, react

#93 Feature/config endpoints
  src/api/config.ts
  src/api/index.ts
  src/tests/api/config.test.ts
Labels: api, enhancement

#92 Adding functionality for posting admin notifications
  .env.sample
  app.json
  package-lock.json
  package.json
  src/slack/actions/registerTeam.ts
  src/slack/actions/supportRequest.ts
  src/slack/utilities/postAdminNotification.ts
Labels: enhancement, slack

#94 Bolt doesn't like preformatted json
  src/api/admin.ts
  src/app.ts
Labels: bug

#96 Show recent pop and add no show button
  .eslintrc.js
  src/api/supportRequest.ts
  src/pages/index.tsx
  src/tests/api/supportRequest.test.ts
Labels: enhancement

#90 Add missing Slack Bot scopes
  src/slack/README.md
Labels: documentation

#98 Fixing an issue where skip wasn't working properly
  src/api/index.ts
Labels: api, bug

#100 Support Queue Notification Fix
  src/slack/actions/supportRequest.ts
Labels: bug, slack

#102 Add admin name
  package-lock.json
  src/api/supportRequest.ts
  src/pages/index.tsx
  src/pages/login.tsx
Labels: enhancement

#106 Add judge splash screen
  public/logo.png
  src/pages/judge/[secret].tsx
Labels: enhancement

#107 Judge results
  src/api/judging.ts
  src/pages/index.tsx
  src/tests/api/judging.test.ts
Labels: enhancement
